html {
  
  box-sizing: border-box;
}
body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --max-width: 1200px;
  background-color: #eef0f1;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
header {
  border-bottom: 1px solid rgb(230, 230, 230);
  background-color: #fff;
}

.header {
  border-bottom: 1px solid rgb(230, 230, 230);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.header__profile {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header__user-menu {
  position: relative;
}

.header__user-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.header__user-dropdown li {
  list-style-type: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.header__user-dropdown li:hover {
  background-color: #3B5998;
}

.header__user-dropdown a {
  color: black;
  text-decoration: none;
}

/* Footer */
.footer {
  height: 100px;
  background-color: #d2d6db;
}

/* Home */
.home {
  display: flex;
  flex-flow: wrap;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.home__feed {
  flex: 0.65;
  margin-right: 20px;
}

.home__sidebar {
  flex: 0.35;;
}

/* Login */
.c-form {
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}
.login-container {
  height: 100vh;
  background-color: #f2f5f6;
}

.c-btn-bold {
  font-weight: bold !important;
}

/* PostPage */
.postPage {
  display: flex;
  max-width: var(--max-width);
  margin: 20px auto;  
}

.postPage__postMetrics {
  flex: 0.1;
  margin-right: 20px;
}

.postPage__post {
  flex: 0.6;
  margin-right: 20px;
}

.postPage__sidebar {
  flex: 0.3;
}

/* PostDetail */
.post {
  padding: 30px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.05);
}

.post__title {
  font-weight: 800;
  margin-bottom: 30px;
}

.post__info {
  display: flex;
  margin-bottom: 30px;
}

.post__profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.post__writer {
  font-weight: 500;
  margin-right: 10px;
}

.post__date {
  color: #60747d;
}

/* PostPreview */
.postPreview {
  display: flex;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.1);
  background-color: #fff;;
}

.postPreview__header {
  display: flex;
  height: 30px;
  margin-bottom: 10px;
}

.postPreview__profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.postPreview__user {
  font-size: 12px;
  font-weight: 500;
  color: #4d5760;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.postPreview__date {
  font-size: 8px;
  color: #64707d;
  margin-bottom: 10px;
}

.postPreview__info {
  display: flex;
  flex-direction: column;
}

.postPreview__title {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.postPreview__content {
  width: 100%;
  height: 35px;
  font-size: 12px;
  overflow: hidden;
}

/* PostMetrics */
.postMetrics {
  position: sticky; 
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.postMetrics__item  {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

.postMetrics__count {
  margin-top: 10px;
  font-size: 14px;
}

.postMetrics__item--filled {
  color: #1877F2;
}

/* PostRecommendation */
.postRecommendation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid #eef0f1;
}

.postRecommendation__title {
  color: #202428;
  font-size: 12px;
  text-decoration: none;
}

.postRecommendation__writer {
  color: #64707d;
  font-size: 10px;
  text-decoration: none;
}

/* PostRecommendationList */
.postRecommendationList {
  background-color: #f9fafa;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.05);
  border-radius: 15px;
  margin-bottom: 20px;
}

.postRecommendationList__title {
  padding-left: 20px;
  padding-top: 20px;
  margin: 0;
  font-size: 14px;
}

/* CommentList */
.commentList {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.05);
  width: 100%;
}

.commentList > * {
  width: 100%;
}

.commentList__header {
  margin-bottom: 20px;
}

/* CommentArea */
.commentArea {
  display: flex;
  padding: 10px;
}

.commentArea__profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.commentArea__reply {
  flex: 1;
}

.commentArea__text {
  width: 100%;
  padding: 10px;
  outline:none;
  border: 1px solid #b5bdc4;
  border-radius: 10px;
}

.commentArea__reply-button {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  font-weight: 500;
  background-color: #1877F2;
}

/* Comment */
.comment {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.comment_user-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment__box {
  flex: 1;
}
.comment__content {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.05);
}

.comment__user-name {
  color: #b0b3b8;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}

.comment__footer {
  display: flex;
  margin-left: 10px;
}

.comment__reply {
  color: #b0b3b8;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  margin-right: 10px;
}

.comment__reply:hover {
  text-decoration: underline;
}

.comment__date {
  color: #b0b3b8;
  font-size: 12px;
}

/* ProfilePreview */
.profilePreview {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9fafa;
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.05);
}

.profilePreview__info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.profilePreview__profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.profilePreview__name {
  color: #212529;
  font-weight: 500;
  text-decoration: none;
}
.profilePreview__description {
  margin-bottom: 15px;
}

.profilePreview__follow {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  font-weight: 500;
  background-color: #1877F2;
}

.profilePreview__follow:hover {
  background-color: #77A7FF;
}

.profilePreview__follow-followed {
  background-color: gray;
}

/* ProfilePage */
.profilePage {
  display: flex;
  align-items: flex-start;
  margin: 20px auto;
  max-width: var(--max-width);
}

.profilePage__info {
  flex: 0.3;
  padding: 20px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.05);
}

.profilePage__feed {
  flex: 0.7;
}
.profilePage__profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.profilePage__follow-btn { 
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  font-weight: 500;
  background-color: #1877F2;
}

.newPost {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: 20px auto;
  border-radius: 20px;
}

.newPost__title {
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  padding: 20px;
}

.newPost__content {
  min-height: 300px;
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
}

.newPost__submit-btn {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  font-weight: 500;
  background-color: #1877F2;
}

/* Dashboard */
.dashboard {
  display: flex;
  align-items: flex-start;
  margin: 20px auto;
  max-width: var(--max-width);
  min-height: 100vh;

}

.dashboard__sidebar {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.dashboard__sidebar a {
  color: black;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.dashboard__main {
  flex: 0.7;
}

/* UserPreview */
.userPreview {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.1);
  background-color: #fff;;
}

/* Responsive */
@media all and (max-width: 800px) { 
  /* Home Page */
  .home {
    padding: 10px;
  }

  .header {
    padding: 0 20px;
  }

  .home__feed{
    flex: 1;
    margin: 0;
  }

  .home__sidebar {
    display: none;
  }

  /* Single Post Page */
  .postPage {
    flex-direction: column;
    padding: 0 10px;
  }

  .postPage__sidebar {
    order: 1;
  }

  .postPage__post-list {
    display: none;
  }

  .postPage__post {
    order: 3;
    margin: 0;
  }

  .postPage__postMetrics {
    order: 2;
  }

  .postMetrics {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
  }

  /* Profile Page */
  .profilePage {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
  }

  .profilePage__info {
    margin-bottom: 20px;
    margin-right: 0;
  }

  /* New Post Page */
  .newPost {
    padding: 10px;
  }

  /* Dashboard */
  .dashboard {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
  }

  .dashboard__sidebar {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media (min-width: 800px) and (max-width: 1250px) {
  /* Home Page */
  .home {
    padding: 10px;
  }

  .header {
    padding: 0 20px;
  }

  /* Single Post Page */
  .postPage {
    padding: 0 10px;
  }

  /* Profile Page */
  .profilePage {
    padding: 10px;
  }

  /* New Post Page */
  .newPost {
    padding: 10px;
  }

  /* Dashboard */
  .dashboard {
    padding: 10px;
  }
}









