.blogPage {
  display: flex;
  max-width: var(--max-width);
  /* min-height: 100vh; */
  margin: 20px auto;
  /* min-height: 100vh; */
  
}

.blogPage__blogMetrics {
  flex: 0.1;
  margin-right: 20px;
}

.blogPage__blog {
  flex: 0.6;
  margin-right: 20px;
}

.blogPage__sidebar {
  flex: 0.3;
}