.blogMetrics {
  position: sticky; 
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.blogMetrics__item  {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

.blogMetrics__count {
  margin-top: 10px;
  font-size: 14px;
}

.blogMetrics__item--filled {
  color: #1877F2;
}