.blogRecommendation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid #eef0f1;
}

.blogRecommendation__title {
  color: #202428;
  font-size: 12px;
}

.blogRecommendation__writer {
  color: #64707d;
  font-size: 10px;
}